.redText {
  color: red;
}

.container{
  text-align: center;
  
}

.header {
  display: inline-flex;
  align-items: center; 
  line-height: 40px;
  font-size: 40px;
  padding: 20px;
}

.icon {
  color: black;
  font-size: 30px;
  padding-right: 10px;
}